html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(245, 245, 245);
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.nav-container {
  margin: auto;
}

.nav-landing {
  display: flex;
  justify-content: center;
}

.nav-title {
  color: #fff;
}

.nav-container svg {
  color: #fff;
}

a {
  text-decoration: none;
}


.hero-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('./images/hero-img.jpg');
  background-size:  cover;
  background-repeat: no-repeat;
  height: 70vh;
  border: 1px solid #d4d0d0b0;
  border-radius: 32px;
  padding: 32px;
  margin-top: 136px;
  box-shadow: -5px 10px #eabcbc73;
  display: grid;
}

.hero-title {
  text-align: center;
  align-self: center;
  color: #f8bbd0;
}

.hero-title h1 {
  font-size: 50px;
}

.hero-button {
  text-align: center;
  align-self: center;
  
}

.hero-button a {
background-color: #f8bbd0;
border: 1px solid #fff;
color: #fff;
}

.hero-button a:hover {
  background-color: #f8bbd0e3;
  color: #fff;
}