html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(245, 245, 245);
}

* {
  margin: 0;
  padding: 0;
}

/* .container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
} */

.nav-container {
  margin: auto;
}

.nav-landing {
  position: relative;
  display: flex;
  justify-content: center;
}

.nav-title {
  color: #fff;
}

.nav-container svg {
  color: #fff;
}

.hero-landing {
  max-width: 100%;
  height: 90vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
}

.hero-logo {
  grid-column: 3/4;
  position: relative;
}

.mother-logo {
  position: absolute;
  top: -50%;
  right: 10%;
  z-index: 2;
}

.rectangle-logo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.hero-title {
  grid-column: 2/3;
  text-align: center;
  align-self: center;
  justify-self: center;
}

a {
  text-decoration: none;
}

.card-landing {
  position: relative;
  height: 240px;
  width: 240px;
  margin: 8px;
  text-align: center;
  border-radius: 4px;
}
