html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(245, 245, 245);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.nav-container {
  margin: auto;
}

.nav-landing {
  position: relative;
  display: flex;
  justify-content: center;
  background: #dfdfdf;
}

nav {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  background: #dfdfdf;
}

.nav-title {
  color: #fff;
}

.nav-container svg {
  color: #fff;
}

.hero-landing {
  background: #dfdfdf;
  max-width: 100%;
  height: 90vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
}

.hero-title {
  font-family: 'Playfair Display', serif;
}

.hero-title h1 {
  font-size: 64px;
  color: #5f5d7e;
}

.hero-title p {
  color: #5f5d7e;
  font-size: 36px;
  text-align: left;
  max-width: 70%;
  opacity: 0.6;
  padding: 50px 0px;
}

.hero-logo {
  grid-column: 3/4;
  position: relative;
}

.mother-logo {
  position: absolute;
  top: 25%;
  right: 5%;
  z-index: 2;
}

.rectangle-logo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.hero-title {
  grid-column: 2/3;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.hero-title .button {
  color: white;
  background: linear-gradient(45deg, #7a74de, #f5c5cc);
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.hero-title .button:hover {
  background: linear-gradient(195deg, #7a74de, #f5c5cc);
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .hero-title {
    z-index: 5;
  }
}
